

/* Polices 

font-family: 'Roboto Mono', monospace;
font-family: 'Quicksand', sans-serif; 
*/

/***********   TAGS SELECTOR   ***************/
a{
    text-decoration: none;
    margin-right: 20px;
}
a:hover{
    color:#FFFFFF;
}
a.bouton1 {
    padding: 10px 30px; 
    margin-right: auto;
    background:#F0DFDF;
    border-radius: 15px; 
    box-shadow: 0px 3px ;
    color: #324D5D; 
    font-family: 'Roboto Mono', monospace;
    text-decoration:none;  
    }
a.bouton1:hover{
    background: #F4A5A4; 
    color:#FFFFFF;
}

body{
    background-size: 200px 100px;
    text-align: center;
    margin:0;
    color:#324D5D;
}
footer{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(126, 153, 137, 0.75), rgba(0, 0, 0, 0));
    color: #FFFFFF;
    font-family: 'Roboto Mono', monospace;
    padding-top: 15px;
}
h1{
    font-family: 'Roboto Mono', monospace;  
}
h2{
    font-family: 'Roboto Mono', monospace; 
    margin:0px; 
    font-weight: 50px;
    
}
h3{
    font-family: 'Roboto Mono', monospace;
    padding: auto;
    color:#D08281;
}
h5{
    font-family: 'Roboto Mono', monospace; 
}

hr{
    border: 0;
    height: 3px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(194, 78, 122, 0.75), rgba(0, 0, 0, 0));  
}
q{
    font-family: 'Quicksand', sans-serif;
    font-size: 25px; 
    text-align: center;
}

p{
    font-family: 'Quicksand', sans-serif;
    font-size: 20px; 
    padding: 40px 130px 40px 130px;  
}
/********  ID SELECTORS  ***************/

#ha{
    text-align: center;
    margin: 50px auto;
    height: 160px;
}



/***********   TAGS CLASS   ***************/
.a{
    width:40px;
    color: white;
}
.bonjour{
    padding-bottom: 40px;
}

.bottom{
    text-align: center;
}

.copy{
    
    color:#324D5D;
}
.Contact{
    padding-bottom: 35px;
    padding-top: 35px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(126, 153, 137, 0.75), rgba(0, 0, 0, 0));
}

.contact-me{
    padding-bottom:30px;
    font-weight: bold;
    color:white;
}
.flower{
    width:80%;
}
.langues{
    padding-bottom: 30px;
}
.liberty{
    position: relative;
    height: auto;
    align-items: center;
}
.light{
    width:80px;
}
.love{
    width: 80px;
    position: relative;
    display: inline-block;
    margin-right: 40px;;
}
.lotus{
    width:60px;
    position:absolute;  
    top:90px;  
}

.me{
    width: 220px;
    border-radius: 100px;
    margin-top: 50px;
    margin-bottom: 30px;
}
.photo{
width:80px;
float:left;
} 
.portfolio{
    display: inline-block;
    right: 100px;
}
.programmer{
    padding-bottom: 50px;
}
.image-portfolio{
    border: 2px solid #324D5D;
    border-radius:0px 0px 10px 10px;
    width: 350px;
    background: #F4A5A4;
    display: inline-block;
    right: 100px;
}
.image-portfolio:hover{
    box-shadow: 3px 1px 10px #324D5D;
}
.reading{
width:80px;
float:left;
} 
.sea{
width:80px;
float:left;
}
.progress{
    height: 25px;
    margin: 30px 20px;
    background: #7e9989;
    border-radius: 10px;
    margin-left: 35%;

}
.progress-bar
{
    background:#dfa4a9 ;
    border-radius: 10px;  
}
.skills{
    width:80px;
    padding: auto;
}
.programmer{
    font-family: 'Roboto Mono', monospace;
}
.row1{
    margin-left: 40px;
    padding-bottom: 30px;
    padding-top: 30px;
}



