
/* Polices 

font-family: 'Roboto Mono', monospace;
font-family: 'Quicksand', sans-serif; 
*/

/***********   TAGS SELECTOR   ***************/
a{
    text-decoration: none;
    margin-right: 20px;
}
a:hover{
    color:#FFFFFF;
}
a.bouton1 {
    padding: 10px 30px; 
    background:#F0DFDF;
    border-radius: 15px; 
    box-shadow: 0px 3px ;
    color: #324D5D; 
    font-family: 'Roboto Mono', monospace;
    text-decoration:none;
    
    }
a.bouton1:hover{
    background: #F4A5A4; 
    color:#FFFFFF;
}

body{
    
    background-size: 200px 100px;
    text-align: center;
    margin:0;
    color:#324D5D;
}


footer{
    background-color: #A9BEBF;
    color: #FFFFFF;
    font-family: 'Roboto Mono', monospace;
    margin:0px;

}
h1{
    font-family: 'Roboto Mono', monospace; 
}
h2{
    font-family: 'Roboto Mono', monospace; 
    margin:0px; 
}
h3{
    font-family: 'Roboto Mono', monospace;
}
header{
    background-color:#D08281;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 150px;  
}
q{
    font-family: 'Quicksand', sans-serif; 
}
p{
    font-family: 'Quicksand', sans-serif; 
}
main{
    background-color: #FFFFFF;
}








/***********   TAGS CLASS   ***************/
.a{
    width:60px;
}
.bubble{
    width:80px;
}
.clean{
    position:absolute;
    right:180px;
    top:70px;  
    width: 20px;
}
.drops{
    position:absolute;
    left:200px;
    top:50px;  
    width: 30px;
}
.lotus{
    width:60px;
}
.matry{
    width:80px;
}
.me{
    width: 200px;
    border-radius: 100px;
    margin-top: 50px;
    margin-bottom: 30px;
}
.photo{
width:80px;
float:left;
 
} 
.reading{
width:80px;
float:left;
} 
.sea{
width:80px;
float:left;
}
.progress{
    height: 25px;
    margin: 30px 20px;
    background: #A9BEBF;
    border-radius: 10px;
}
.progress-bar
{
    background:#F4A5A4 ;
    border-radius: 10px;
    
}
.progress_habilité{
    display:block;
    padding-right:100px;
}

.row{
    width: 50%;
    margin: 100px auto 200px auto;
    text-align: left;
}
.row1{
    width: 50%;
    margin: 100px auto 200px auto;
    text-align: right;
}
.skills{
    width:80px;
}

.water-drop1{
    position:absolute;  
    width:40px;
    top:240px;
    left:65px;
}
.water-drop2{
    position:absolute;  
    width:40px;
    top:240px;
    right:65px;
}

.programmer{
    font-family: 'Roboto Mono', monospace;
}



